/* Base */

html {
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Custom layout classes */

.layout {
    width: 100%;
}

.content {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.footer__bg {
    background-color: var(--footer-one);
}

.block__bg {
    background-color: var(--secondary-color);
}

.heading {
    padding-top: 20px;
}

.heading h1 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-text);
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 228.66px;
    border: 0;
}

/* Responsive breakpoints */

@media (min-width: 768px) {
    .content {
        padding: 0 20px;
    }
}

@media (min-width: 1152px) {
    .content {
        padding: 0 32px;
    }
}

@media (min-width: 1920px) {
    .content {
        padding: 0 220px;
    }
}