/* Base */

.exhibitions {
    grid-template-columns: 1fr;
    gap: 16px;
    padding-top: 32px;
}

.exhibition {
    flex-direction: column;
    gap: 16px;
}

/* Component */

.exhibition__image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Typography */

.exhibition__texts {
    flex-direction: column;
    gap: 6px;
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    color: var(--primary-text);
    flex: 1;
    min-width: 0;
}

.exhibition__texts h2 {
    font-family: var(--primary-font);
    font-size: 1.625rem;
    font-weight: 700;
}

.exhibition__texts p {
    margin-bottom: 20px;
}

.exhibition__texts p:last-child {
    margin-bottom: 0;
}

/* Responsive breakpoints */

@media (min-width: 1152px) {
    .exhibition {
        flex-direction: row;
        gap: 32px;
    }

    .exhibition__image {
        flex: 0 0 472px;
    }

    .exhibitions {
        gap: 32px;
    }

    .exhibition__texts h2 {
        font-size: 1.75rem;
    }
}