/* Base */

.newsletter {
    position: relative;
    margin-bottom: -286px;
    grid-template-columns: 1fr;
    padding-top: 48px;
    z-index: 2;
}

.newsletter__left,
.newsletter__right,
.navigation__item,
.navigation__item ul {
    flex-direction: column;
}

.newsletter__left,
.newsletter__right {
    gap: 32px;
    padding: 32px 16px;
    color: var(--secondary-text);
}

.newsletter__left {
    border-radius: 5px 5px 0 0;
    background-color: var(--footer-two);
}

.newsletter__left p {
    max-width: 597px;
}

.newsletter__right {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 285px;
    border-radius: 0 0 5px 5px;
    background-color: var(--footer-three);
}

/* Typography */

.newsletter h2 {
    font-family: var(--primary-font);
    font-size: 1.625rem;
    font-weight: 700;
}

.newsletter__left p,
.newsletter__item,
.navigation__item,
.navigation__item a,
.newsletter__form input {
    font-family: var(--secondary-font);
    font-size: 1.125rem;
}

.navigation__item h3 {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navigation__copyright {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 0;
    border-top: 0.5px solid rgba(255, 255, 255, 0.5)
}

/* Form */

.newsletter__form,
.newsletter__form form {
    width: 100%;
}

.newsletter__form form {
    gap: 10px;
}

.newsletter__form input {
    width: 100%;
    height: 64px;
    padding: 20px 12px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    outline-color: var(--primary-color);
}

/* Components */

.label__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: none;
}

/* Socials */

.socials {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.socials img {
    width: auto;
    height: 40px;
}

/* Navigation */

.navigation {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 32px;
    padding-top: 340px;
    width: 100%;
    background-color: var(--footer-one);
    color: var(--secondary-text);
}

.navigation__item,
.navigation__item ul {
    gap: 10px;
}

.navigation__item img {
    width: 185px;
    height: auto;
}

.newsletter__left h2,
.newsletter__right h2 {
    font-family: var(--primary-font);
    font-size: 1.625rem;
    font-weight: 700;
}

.navigation__item a {
    color: var(--secondary-text);
}

/* Responsive breakpoints */

@media (min-width: 768px) {
    .newsletter {
        padding-top: 64px;
    }
}

@media (min-width: 1152px) {
    .newsletter {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: -142.5px;
    }

    .newsletter__left {
        padding: 32px;
        border-radius: 5px 0 0 5px;
    }

    .newsletter__right {
        gap: 43px;
        padding: 32px;
        border-radius: 0 5px 5px 0;
    }

    .newsletter__left h2,
    .newsletter__right h2 {
        font-size: 1.75rem;
    }

    .newsletter__form form {
        gap: 16px;
    }

    .navigation {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 200px;
        row-gap: 70px;
        padding-top: 200px;
    }

    .navigation__copyright {
        grid-column: 1 / 4;
    }
}

@media (min-width: 1440px) {
    .newsletter {
        padding-top: 96px;
    }
}